.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin: 10px 0;
}

.row img {
    width: 99%;
    margin: 5px 0.5%
}

@media (min-width: 566px) {
    .row img {
        width: 49%;
    }
}

@media (min-width: 991px) {
    .row img {
        width: 32%;
    }
}
